name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Release
    uses: sxzz/workflows/.github/workflows/release.yml@v1
    with:
      publish: true
      build: "pnpm run build"
    permissions:
      contents: write
      id-token: write
