name: Release

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - main
  push:
    tags:
      - "v*"

jobs:
  release:
    if: ${{ github.event_name == 'push' || github.event.workflow_run.conclusion == 'success' }}
    uses: sxzz/workflows/.github/workflows/release.yml@v1
    with:
      publish: true
    permissions:
      contents: write
      id-token: write
